
:root {
  --black: #000;
  --gray-01: #5e6d55;
  --gray-02: #9aaa97;
  --gray-03: #beccbe;
  --gray-04: #d5e0d5;
  --gray-05: #e4ebe4;
  --gray-06: #f2f7f2;
  --gray-07: #f7faf7;
  --gray-10: #1c2d1c;
  --gray-15: #1f321f;
  --gray-20: #2a3b2c;
  --gray-25: #2f3f2f;
  --gray-30: #3a4b3a;
  --gray-40: #52614f;
  --gray-45: #5e6d55;
  --gray-50: #87997d;
  --gray-55: #9aaa97;
  --gray-60: #beccbe;
  --gray-70: #d5e0d5;
  --gray-80: #e4ebe4;
  --gray-90: #f2f7f2;
  --gray-95: #f7faf7;
  --up-green: #14a800;
  --brand-green: #108a00;
  --up-green-dark: #3c8224;
  --up-lime: #95df00;
  --blue: #1f57c3;
  --highlight-blue: var(--blue);
  --mint: #91e6b3;
  --forest: #13544e;
  --sky: #01cdbe;
  --brown: #67541f;
  --kiwi: #97922d;
  --yellow: #debe1a;
  --brick: #9b211b;
  --clay: #bc5118;
  --orange-red: #ff4b25;
  --pink: #f66dbc;
  --lilac: #bda1e7;
  --heather: #a18085;
  --up-black: #001e00;
  --white: #ffffff;
}
